@charset "utf-8";

/* General styles*/
/*Define your own styles in this stylesheet*/
body{
	background-color: rgba(246,246,246,1.00);
}
h1, h2, h3, h4, h5, h6{
	font-family: 'montserrat' , sans-serif;
	color: rgba(146,146,146,1.00);
	font-style: normal;
	font-weight: 400;
}
p{
	font-size: 14px;
	font-family: 'alice', sans-serif;
	font-style: normal;
	font-weight: 100;
	color: rgba(146,146,146,1.00);
	line-height: 1.8;
}


/* Link styles*/
a {
	color: rgba(146,146,146,1.00);
}
a:visited {
	color: rgba(146,146,146,1.00);
}
a:hover {
	color: rgba(255,255,255,1.00);
}
.linkStyle {
	color: rgba(146,146,146,1.00);
	font-family: 'montserrat', sans-serif;
	font-style: normal;
	font-weight: 100;
	text-decoration: none;	
}
/* Header & HERO styles*/
.logo {
	text-align: center;
    padding-top:20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
 /* move BG to another part??? */
.heroHeader {

  height: 400px;
  background-image: url(../images/RayProfileBG.png);
  position: relative;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center; 
  background-color: transparent;
  
  }
/* Navigation styles*/
.topNavUl {
	position: static;
	padding-top: 20px;
	padding-bottom: 20px;
}
.topNavLI {
	text-align: center;
}
/* Typography styles*/
.textStyle {
	font-family: 'montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	color: rgba(146,146,146,1.00);
	margin-left: 5px;
}
.headingStyle {
	/* [disabled]font-family: 'montserrat', sans-serif; */
	/* [disabled]font-style: normal; */
	/* [disabled]font-weight: 400; */
	color: rgba(146,146,146,1.00);
	font-size: 32px;
}
.mainHeading {
	color: ForestGreen;
	text-align: center;
	margin-top: -15%;
	font-size: xx-large;
	font-weight: 400;
    -webkit-text-stroke: .25px white;
}
.mainTagline {
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-size: 16px;
	margin-top: -6%;
}
.sectionText {
	text-align: center;
}
#sectionOne {
	text-align: justify;
}
#sectionTwo {
	text-align: justify;
}

/* Gallery styles */
.gallery{
    padding-top:20px;
    padding-bottom:30px;
}
.paraContent{
	font-size: 14px;
	font-family: alice, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: rgba(146,146,146,1.00);
	line-height: 1.8;
	margin-left: 5%;
	margin-right: 5%;
}
.contentArea{
	font-size: 14px;
	font-family: alice , sans-serif;
	font-style: normal;
	font-weight: 100;
	color: rgba(146,146,146,1.00);
	line-height: 1.8;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}
.showAreaH2 {
	font-size: 24px;
	margin: 25px;
	
}
#secondaryStyling {
	padding-top: 20px;
    padding-bottom: 20px;
}
.secondarySection {
	background-color: rgba(208,207,207,1.00);
}
.secondaryHeading {
	color: rgba(255,255,255,1.00);
	text-align: center;
}
/*Footer styles*/
.footerTitle {
    text-align: center;
    font-size: 22px;
}
.footerTextContainer {
	text-align: justify;
	margin-bottom: 10%;
}

/* Bootstrap Overall Changes*/
.jumbotron {
    background-color: transparent;

}

.tripwire1 {
	display: block;
	background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, white, transparent, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, white, transparent, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, white, transparent, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, white, transparent, white); /* Standard syntax */
    height: 200px;
    margin-top: 380px

}



/*    
Responsive xs

.tripwire1
height: 280px;
margin-top: 360px;
*/